.navbar {
    border-bottom: solid;
    border-width: 2px;
    border-color: #cccccc;
    width: 100%;
}

.navbar-header {
    background-color: #4aaaa5;
    text-align: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link {
    padding-left: 20px;
}

header {
    height: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-top: 10px;
    border-bottom: gray;
    border-width: 10px;}


html {
        position: relative;
        min-height: 100%;
    }

h1 {
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 34px;
    border-bottom: 5px solid #4aaaa5;

}
h2 {
    font-size: 24px;
}
a {
    color: #777777;
}

.container {
    height: auto; 
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    border-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    font-size: medium;
    background-color: silver;
    height: auto; 
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    height: auto;
    margin: 100px;
}

footer {
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    font-size:1.5em;
    line-height:100px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: #ffffff;
    position: absolute;
    }

 input[type=text], select, textarea {
        width: auto; 
        padding: auto; 
        border: 1px solid #ccc;
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
        padding: 10px;
    }
      
input[type=submit] {
        background-color: #4aaaa5;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
input[type=submit]:hover {
        background-color: #4aaaa5;
    }